body {
	background-image: url(../img/background.jpg); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}
/*Image is from unsplash https://unsplash.com/photos/RaeUnm3e2q4 */

body {
    font: 16px/26px Georgia, serif;
    font-weight: 400;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.header-container {
	background-color: rgba(244, 144, 131, 1);
    padding: .5em;
    margin: 0 0 1em 0;
    display: flex;
}

.title {
	text-align: center;
	padding: .3em;
	text-transform: capitalize;
}

nav {
        width: 100%;
        margin-bottom: 0;
        text-decoration: none;
        text-align: center;

    }

nav ul {
	display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
	width: 100%;
	flex-flow: row wrap;
	justify-content: space-around;
	border-style: solid;
	border-color: lightpink;
	border-radius: 30px;
	margin: 0.1em 4em;
}

nav a {
	text-decoration: none;
	color: black;
	padding: 0.2em 20px;
}


nav a:hover {
    text-decoration: none;
    color: ghostwhite;
}


.main-container section {
	
	margin: 0;
	display: inline-flex;
	width: 42.89%;
	gap: 1em;
}

.main-container header,
.main-container section,
.main-container footer {
	box-shadow: 0 5px 10px 0 rgba(244, 144, 131, .5);;
		background-color: rgba(217, 36, 64, .3);
		padding: 1em 2em;
		margin-bottom: 10px;
}

.main-container header {
		border-radius: 100px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;

}

.main-container header h1, 
section h2, 
footer h3 {
	text-align: center;
}

.footer-container,
.main aside {
    background-color: rgba(38, 112, 109, .3);;
    padding: 1em;
    margin: 1em 0 0 0;
    width: 100%;
    color: white;
    text-align: center;
}

.main-container footer {
border-radius: 100px;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
}

.footer-container {
	
    background-color: #234E57;
}




/*ADOBE COLOR*/

/* Color Theme Swatches in Hex */
.41IgnatovaAnastasia-Colorful-1-hex { color: #D92441; }
.41IgnatovaAnastasia-Colorful-2-hex { color: #A52138; }
.41IgnatovaAnastasia-Colorful-3-hex { color: #234E57; }
.41IgnatovaAnastasia-Colorful-4-hex { color: #26706D; }
.41IgnatovaAnastasia-Colorful-5-hex { color: #F59184; }

/* Color Theme Swatches in RGBA */
.41IgnatovaAnastasia-Colorful-1-rgba { color: rgba(217, 36, 64, 1); }
.41IgnatovaAnastasia-Colorful-2-rgba { color: rgba(164, 33, 56, 1); }
.41IgnatovaAnastasia-Colorful-3-rgba { color: rgba(35, 78, 87, 1); }
.41IgnatovaAnastasia-Colorful-4-rgba { color: rgba(38, 112, 109, 1); }
.41IgnatovaAnastasia-Colorful-5-rgba { color: rgba(244, 144, 131, 1); }




/*@media only screen and (min-width: 768px) {


    .header-container, .main, aside {
    	box-shadow: none;
    }

    .header-container,
.footer-container {
	border-bottom: none;
	border-top: none;
	box-shadow: none;
}
}*/






















