:root {

	--color-neutral-light: #FAF2F0;
	--color-neutral-medium: #ffc1a0;
	--color-neutral-dark: #444;

/*neon salad green*/
	--color-main-light: #8DF27E;
/*gray*/
	--color-main-medium: #8C8C8C; 
/*almost black*/
	--color-main-dark: #363636;

/*neon green*/
	--color-accent-dark: #11D979;
/*neon teal green*/
	--color-accent-medium: #24C9A3;
/*neon super light green*/
	--color-accent-light: #72FFCD;

	--header-height: 3rem;

	--color-white:  #fff;
	--color-black:  #111;

	--font-sans: Helvetica, Arial, sans-serif;
	--font-serif: Cambria, Georgia, serif;


}


* {
	box-sizing: border-box;
}

/*CORE ELEMENTS*/

body {
	font-family: var(--font-sans);
	background-color: var(--color-neutral-light);
	color: var(--color-main-dark);
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
}


/*LAYOUT TOOLS*/

.hidden { display: none; }
.display-flex {display: flex;}
.display-inline-flex {display: inline-flex;}
.display-block {display: block;}
.display-inline-block {display: inline-block;}

.flex-stretch {flex: 1 1 auto;}
.flex-none {flex: none;}

.flex-align-center {align-items: center;}
.flex-justify-center {justify-content: center;}
.flex-vertical {flex-direction: column;}

.overscroll {overflow: auto;}
.overscroll-x {overflow-x: auto;}
.overscroll-y {overflow-y: auto;}

.centered {text-align: center;}
.small {font-size: 0.8em;}

.fill-parent {
   width: 100%;
   height: 100%;
}


.position-relative {position: relative;}
.position-absolute {position: absolute;}

.padding-sm {padding: .5em;}
.padding-md {padding: 1em;}
.padding-lg {padding: 2em;}
.padding-xl {padding: 5em;}
/*PAGE ELEMENTS*/


.ui-mobile .ui-page-active {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

[data-role="main"] {
   flex: 1 1 100%;
   position: relative;
   overflow: hidden;
   -webkit-appearance: none;
}

[data-role="header"],
[data-role="footer"] {
	flex: none;
	height: var(--header-height);
	line-height: var(--header-height);
	border-width: 0;
	background-color: var(--color-accent-medium);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;

}

[data-role="header"] ul,
[data-role="footer"] ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

[data-role="footer"] li {
	flex: 1 1 auto;
	text-align: center;
}


[data-role="header"] a,
[data-role="footer"] a {
	display: block;

}

[data-role="header"] a {
	padding: 0 1em;
}


.ui-header .ui-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0;
	font-size: 1rem;
	padding: 0;
}




/* NAV */
.nav {
   list-style-type: none;
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
   display: flex;
}

.venue-profile-middle li.active {
   background-color: var(--color-accent-medium);
}

.venue-profile-middle li {
	border-radius: 10em;
}

.nav li {
   flex: 1 1 auto;
   padding: 0 0.2em;
   text-align: center;
   line-height: var(--header-height);
}




/*FORM ELEMENTS*/

.form {}
.form-control {
	margin: 1em 0;
}

/*#signup-form {
	width: 100%;
	margin: 0 auto;
}*/

.signin-form .form-input {
width: 100%;
display: inline-block;
border: 1px solid var(--color-accent-medium);
margin: 0;
padding: .5em .5px;
padding-left: .5em;
border-radius: 1em;
outline: 0;
font: inherit;
}


.form-input {
width: 100%;
display: inline-block;
border-width: 0;
border-bottom: 1px solid var(--color-main-light);
margin: 0;
padding: 2px 2px;
padding-bottom: 2px;
background-color: transparent;
outline: 0;
font: inherit;
}


/*.form-button.js-logout {
	background-color: var(--color-main-medium);
}
*/
.form-input-signup {
width: 95%;
display: inline-block;
border: none;
border-bottom: 1px solid var(--color-accent-medium);
margin-left: .5em;
padding: .5em .5em;
padding-left: .5em;
outline: 0;
font: inherit;
}

.form .form-button,
.form-button .js-logout {
width: 100%;
display: inline-block;
border-width: 0;
background-color: var(--color-accent-medium);
margin: 0;
padding: 0.5em;
border-radius: 1em;
outline: 0;
font: inherit;
text-align: center;
cursor: pointer;
text-decoration: none;
-webkit-appearance: none;
}

/*the general button look*/
.form-button {
width: 100%;
display: inline-block;
border-width: 0;
background-color: var(--color-accent-medium);
color: var(--color-black);
/*margin: 0;*/
padding: 0.5em 1em;
border-radius: 1em;
outline: 0;
font: inherit;
text-align: center;
cursor: pointer;
text-decoration: none;

}

.ui-mobile .form-label {
	font-size: 0.8em;
	color: var(--color-accent-dark);
	margin: 1rem 0 0;
	padding: 0.2em;
}




.form-select select {
    background-color: var(--color-neutral-light);
    border-width: 0;
    padding: 0.5em 1em;
    font: inherit;
    border-radius: 4px;
    width: 100%;
    -webkit-appearance: none;
}
.form-select {
   position: relative;
}
.form-select::after {
   content: '▼';
   position: absolute;
   right: 0.5em;
   top: 50%;
   transform: translateY(-50%);
   font-size: 0.8em;
   color: var(--color-main-medium);
}


.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*.map .icon {
	border-radius: 100px;
}*/

/*Floater*/

.floater {position: absolute;}
.floater.left {left: 1em;}
.floater.right {right: 1em;}
.floater.top {top: 1em;}
.floater.bottom {bottom: 1em;}


/*Circle Button*/
.btn-circle {
	display: inline-block;
	background-color: var(--color-accent-medium);
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	font-size: 2em;
	border-radius: 2em;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
}







/*MODAL*/
/* MODAL */
.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   opacity: 0;
   transition: all 0.3s;
}
.modal.active {
   pointer-events: initial;
   opacity: 1;
}
.modal-back {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}
.modal-back.transparent {
   background-color: transparent;
}

/* Modal Popup */
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    border-radius: 5px;
    width: 80vmin;
    overflow: hidden;
    transition: all 0.3s;
}
.modal-body {
    padding: 10px;
    background-color: var(--color-white);
}
.modal-head,
.modal-foot {
    background-color: var(--color-neutral-light);
    line-height: 2rem;
    padding: 0 1em;
}
.modal.active .modal-popup {
   transform: translate(-50%,-50%);
}



/* Modal Drawer */
.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow: 0 0 5px rgba(0,0,0,0.15);
}
.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width: 70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height: 40vh;
   width: 100%;
}
.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform: translate(0);
}

.modal-drawer.basin {
   height: 30vh;
   padding: 1em;
   box-shadow: none;
}
.modal-drawer.basin .modal-body {
   box-shadow: 0 0 5px rgba(0,0,0,0.15);
   border-radius: 1em;
}

.modal-drawer .modal-body {
   flex: 1 1 100%;
}


.icon {
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
	margin: 7px;
}

.nav-icon-set {

}

.nav-icon {
	display: block;
	line-height: 2rem;
	font-size: 1.5rem;
	vertical-align: middle;
}

.nav-icon .icon {
	vertical-align: middle;
}

.nav-icon-title {
	display: block;
	line-height: 1rem;
	font-size: 0.8rem;
}




.venue-list {
   list-style-type: none;
   margin: 0;
   padding: 1em;
}

.venue-list-item~.venue-list-item {
   margin-top: 1em;
}

.venue-list-item {
    box-shadow: 0 5px 10px rgba(114, 255, 205,.5);
    border-radius: 1em;
    overflow: hidden;
    font-weight: normal;
}
.venue-list-item-image img {
    width: 100px;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.venue-list-item-description {
}
.venue-list-item-name {
   font-size: 1.5em;
}
.venue-list-item-type,
.venue-list-item-hours {
   font-size: 0.9em;
}


/* VENUE PROFILE */

.venue-profile-top {
	flex: none;
	height: 40vh;
}

.venue-profile-bottom {
	flex: 1 1 auto;
	position: relative;
}

.venue-profile-bottom .section {
   display: none;
}
.venue-profile-bottom .section.active {
   display: block;
}



.floating-header {
   position: absolute;
   background-color: rgba(255,255,255,0.15);
   width: 100%;
   top: 0;
   left: 0;
   box-shadow: none;
}

/*USER PROFILE*/


/*VENUE POPUP*/

.venue-popup-image,
.venue-popup-body {
   pointer-events: none;
}
.venue-popup-image img {
   max-width: 50px;
}


